Login to Access Your To-Do Lists! (or do basically anything cool!)
:)

<form action="/newlogin" method="post">
  <label for="email">Email</label>
    <input type="string" name="email"></input>
  <label for="password">Password</label>
    <input type="string" name="password"></input>
  <input type="Submit" value="Login"></input>
</form>