<form action="/newuser" method="post">
  <fieldset>
    <legend>Create New User</legend>
    <label for="name">Name</label>
    <input type="string" name="name"></input>
    <label for="email">Email</label>
    <input type="string" name="email"></input>
    <label for="password">Password</label>
    <input type="string" name="password"></input>
    <input type="submit" value="Add"></input>
  </fieldset>
</form>