
<h1>Success! </h1>
<p>Congratulations <%= @user.name%>! You have successfully updated your account</p>
<p>Your login id will be your email, <%=@user.email%></p>

<a href="/logins/new">Log In Now!</a>