Update Info
<form action="/updateuser/<%=@currentuser.id%>" method="post">
  <fieldset>
    <legend>Update User Info</legend>
    <label for="name">Name</label>
    <input type="string" name="name" value="<%=@currentuser.name%>"></input>
    <label for="email">Email</label>
    <input type="string" name="email" value="<%=@currentuser.email%>"></input>
    <label for="password">Password</label>
    <input type="string" name="password"></input>
    <input type="submit" value="Add"></input>
  </fieldset>
</form>