<h1>Clean Up List</h1>

<h2>choose items to remove from list</h2>
<h3>Please note, if you "uncheck" a completed task, it will stay completed on your to-do list.</h3>
<form action="/deleteitems" method="post">
    <h2>Current To Dos</h2> 
    <% @items.each do |item|%>
      <dl>
        <dt><input type="checkbox" name="items[]" value="<%= item.id %>"
        <%= "checked" if item.completed == true%>>
        <label><b><%=item.title%></b></dt>
        <dd> <%=item.description%> </dd>
      </dl>
    <%end%>
    <p></p>
    <p></p>
    <input type="Submit" value="REMOVE ITEMS FROM LIST"></input>
</form>